/* CSS HEX */
:root {
  --ash-gray: #bac1b8ff;
  --moonstone: #58a4b0ff;
  --dark-spring-green: #0c7c59ff;
  --gunmetal: #2b303aff;
  --chili-red: #d64933ff;
}

/* NavBar Styles */

@media (max-width: 991px) {
  .navBar {
    max-height: 120px !important;
  }
}

@media (max-width: 991px) {
  .navBar {
    max-height: initial !important;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    justify-content: center;
  }
}

.dropdown-toggle::after {
  margin-right: 0.255em;
}

@media (max-width: 575px) {
  .form-navbar {
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0 20px;
    gap: 5px;
  }
}

/*==== NavBar Styles ====*/
